<div class="card-deck">
    <div class="card">
      <div class="box shadow py-4 px-4">
      <img class="card-img-top" src="assets/Sanitizer/Dettol.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Dettol</h5>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        <a href="Javascript:void(0)" routerLink ="/payment" class="btn btn-primary">BUY</a>
      </div>
    </div>
    </div>
    <div class="card">
      <div class="box shadow py-4 px-4">
      <img class="card-img-top" src="assets/Sanitizer/Lifebuoy.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Lifebuoy</h5>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          <a href="Javascript:void(0)" routerLink ="/payment" class="btn btn-primary">BUY</a>
      </div>
    </div>
    </div>
    <div class="card">
      <div class="box shadow py-4 px-4">
      <img class="card-img-top" src="assets/Sanitizer/Lyzol.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Lyzol</h5>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        <a href="Javascript:void(0)" routerLink ="/payment" class="btn btn-primary">BUY</a>
      </div>
      </div>
    </div>
    <div class="card">
      <div class="box shadow py-4 px-4">
        <img class="card-img-top" src="assets/Sanitizer/Purell.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Purell</h5>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          <a href="Javascript:void(0)" routerLink ="/payment" class="btn btn-primary">BUY</a>
        </div>
        </div>
      </div>
      <div class="card">
        <div class="box shadow py-4 px-4">
        <img class="card-img-top" src="assets/Sanitizer/Savlon.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Savlon</h5>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          <a href="Javascript:void(0)" routerLink ="/payment" class="btn btn-primary">BUY</a>
        </div>
        </div>
      </div>
</div>
<div class="card-group">
    <div class="card">
      <div class="box shadow py-4 px-4">
      <img class="card-img-top" src="assets/Handwash/Dettolliq.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">DettolLiquid</h5>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        <a href="Javascript:void(0)" routerLink ="/payment" class="btn btn-primary">BUY</a>
      </div>
      </div>
    </div>
    <div class="card">
      <div class="box shadow py-4 px-4">
      <img class="card-img-top" src="assets/Handwash/Savlonliq.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">SavlonLiquid</h5>
         <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
         <a href="Javascript:void(0)" routerLink ="/payment" class="btn btn-primary">BUY</a>
      </div>
      </div>
    </div>
    <div class="card">
      <div class="box shadow py-4 px-4">
      <img class="card-img-top" src="assets/Handwash/Suthol.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Suthol</h5>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        <a href="Javascript:void(0)" routerLink ="/payment" class="btn btn-primary">BUY</a>
      </div>
      </div>
    </div>
    <div class="card">
      <div class="box shadow py-4 px-4">
        <img class="card-img-top" src="assets/Handwash/Lifebuoyhandwash.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Lifebuoy Handwash</h5>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          <a href="Javascript:void(0)" routerLink ="/payment" class="btn btn-primary">BUY</a>
        </div>
        </div>
      </div>
      <div class="card">
        <div class="box shadow py-4 px-4">
        <img class="card-img-top" src="assets/Handwash/Antibacterial.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Antibacterial Handwash</h5>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          <a href="Javascript:void(0)" routerLink ="/payment" class="btn btn-primary">BUY</a>
        </div>
        </div>
      </div>
</div>
<div class="card-group">
    <div class="card">
      <div class="box shadow py-4 px-4">
      <img class="card-img-top" src="assets/Kitsetup/BP.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Blood Pressure Measurement</h5>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        <a href="Javascript:void(0)" routerLink ="/payment" class="btn btn-primary">BUY</a>
      </div>
      </div>
    </div>
    <div class="card">
      <div class="box shadow py-4 px-4">
      <img class="card-img-top" src="assets/Kitsetup/BS.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Blood Sugar Measurement</h5>
         <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
         <a href="Javascript:void(0)" routerLink ="/payment" class="btn btn-primary">BUY</a>
      </div>
      </div>
    </div>
    <div class="card">
      <div class="box shadow py-4 px-4">
      <img class="card-img-top" src="assets/Kitsetup/Oxymeter.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Oxymeter</h5>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        <a href="Javascript:void(0)" routerLink ="/payment" class="btn btn-primary">BUY</a>
      </div>
      </div>
    </div>
    <div class="card">
      <div class="box shadow py-4 px-4">
        <img class="card-img-top" src="assets/Kitsetup/Thermalgun.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Thermalgun</h5>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          <a href="Javascript:void(0)" routerLink ="/payment" class="btn btn-primary">BUY</a>
        </div>
        </div>
      </div>
      <div class="card">
        <div class="box shadow py-4 px-4">
        <img class="card-img-top" src="assets/Kitsetup/Thermometer.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Thermometer</h5>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          <a href="Javascript:void(0)" routerLink ="/payment" class="btn btn-primary">BUY</a>
        </div>
        </div>
      </div>
</div>
<div class="card-group">
  
    <div class="card">
      <div class="box shadow py-4 px-4">
      <img class="card-img-top" src="assets/Operationkit/Appron.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Appron</h5>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        <a href="Javascript:void(0)" routerLink ="/payment" class="btn btn-primary">BUY</a>
      </div>
      </div>
    </div>
    <div class="card">
      <div class="box shadow py-4 px-4">
      <img class="card-img-top" src="assets/Operationkit/Band-aid.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Band-aid</h5>
         <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
         <a href="Javascript:void(0)" routerLink ="/payment" class="btn btn-primary">BUY</a>
      </div>
      </div>
    </div>
    <div class="card">
      <div class="box shadow py-4 px-4">
      <img class="card-img-top" src="assets/Operationkit/Cotton.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Cotton</h5>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        <a href="Javascript:void(0)" routerLink ="/payment" class="btn btn-primary">BUY</a>
      </div>
      </div>
    </div>
    <div class="card">
      <div class="box shadow py-4 px-4">
        <img class="card-img-top" src="assets/Operationkit/gauge.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Gauge</h5>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          <a href="Javascript:void(0)" routerLink ="/payment" class="btn btn-primary">BUY</a>
        </div>
        </div>
      </div>
      <div class="card">
        <div class="box shadow py-4 px-4">
        <img class="card-img-top" src="assets/Operationkit/gloves.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Gloves</h5>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          <a href="Javascript:void(0)" routerLink ="/payment" class="btn btn-primary">BUY</a>
        </div>
        </div>
      </div>
</div>
<div class="card-group">
    <div class="card">
      <div class="box shadow py-4 px-4">
      <img class="card-img-top" src="assets/Others/Mask.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Mask</h5>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        <a href="Javascript:void(0)" routerLink ="/payment" class="btn btn-primary">BUY</a>
      </div>
      </div>
    </div>
    <div class="card">
      <div class="box shadow py-4 px-4">
      <img class="card-img-top" src="assets/Others/PPE.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">PPE-KIT</h5>
         <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
         <a href="Javascript:void(0)" routerLink ="/payment" class="btn btn-primary">BUY</a>
      </div>
      </div>
    </div>
    <div class="card">
      <div class="box shadow py-4 px-4">
      <img class="card-img-top" src="assets/Others/Face.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Face-Sheild</h5>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        <a href="Javascript:void(0)" routerLink ="/payment" class="btn btn-primary">BUY</a>
      </div>
      </div>
    </div>
    <div class="card">
      <div class="box shadow py-4 px-4">
        <img class="card-img-top" src="assets/Others/Syringe.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Syringe</h5>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          <a href="Javascript:void(0)" routerLink ="/payment" class="btn btn-primary">BUY</a>
        </div>
        </div>
      </div>
      <div class="card">
        <div class="box shadow py-4 px-4">
        <img class="card-img-top" src="assets/Others/Supporter.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Supporter-Elbow,Knee,wrist,neck,back,waist</h5>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          <a href="Javascript:void(0)" routerLink ="/payment" class="btn btn-primary">BUY</a>
        </div>
        </div>
      </div>
</div>
<div class="footer" style="background-color: rgb(248, 186, 157);">
    <div class="container">

        <h5 style="text-align: center; color: black;">Copyright © Medical Store. All Rights Reserved | Contact Us:
            +919000000000
        </h5>

    </div>
</div>



