<body>
        
    <section class="top-hero-section pt-4 pb-5">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-5">
                <h4 class="animate__animated animate__backInLeft">Quality - Support - Value</h4>
                <h1 class="animate__animated animate__zoomIn" style="color: black;">Best Medicine Website</h1>
                <h5 class="animate__animated animate__backInLeft">We can provide Medicine and Necessary Medicine Kits for you at affordable rates.
                    So Hurry Up Send us your requirement.</h5><br>
                
                </div>
                <div class="col-md-7">
                    <img  class="animate__animated animate__backInRight" src="assets/Medicine2.jpg" style="width: 400px;" alt="">
                </div>

            </div>
        </div>
    </section>
    <section class="second-item pt-4 pb-5" >
        <div class="container">
            <div class="row">
                <div class="col-12 text-center" >
                    <h3>A PASSION FOR BETTER MEDICINE

                    </h3>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-4 text-center">
                   <img class="animate__animated animate__backInLeft"  src="assets/Customer.jpg" style="width:350px;"alt="">
                   <h5>Customers Requirements</h5>
                   <p>Every idea is unique and that's why we craft it as per your requirements</p>
                </div>
                <div class="col-md-4 text-center">
                    <img class="animate__animated animate__backInDown"  src="assets/Server-Uptime.jpg"style="width:240px;"/>
                    <h5>99% Server Uptime</h5>
                    <p>We make sure that yours product stays up 24x7 with us</p>
                </div>
                <div class="col-md-4 text-center">
                    <img class="animate__animated animate__backInRight"  src="assets/Quick.jpg"style="width:250px;" alt="">
                    <h5>Quick Support</h5>
                    <p>We understand the sense of urgently whenever our clients need our help</p> 
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 text-center">
                    <img class="animate__animated animate__backInLeft" src="assets/Quality.jpg"style="width:250px;" alt="">
                    <h5>Quality Assuarance</h5>
                    <p>Quality is the main things of our sevice and we make no compromise on it</p> 
                </div>
                <div class="col-md-4 text-center">
                    <img class="animate__animated animate__backInUp" src="assets/Delivery.jpg"style="width:250px;"alt="">
                    <h5>On Time Delivery</h5>
                    <p>When you take a order,you can be rest assured that it will be delivered in time</p> 
                </div>
                <div class="col-md-4 text-center">
                    <img class="animate__animated animate__backInRight" src="assets/Money.jpg"style="width:250px;" alt="">
                    <h5>Value Of Money</h5>
                    <p>Get the best service for the money you pay us.We assure to give you the value for the money</p>  
                </div>
                
            </div>
        </div>
    </section>
    <section class="home-newsletter p-2 pt-md-2 pb-md-2">
        <div class="row">
            <div class="col-12 text-center">
                <h3>
                    Subscribe To Our Newsletter
                </h3>
                <div class="input-group p-3">
                    <input type="email" class="form-control" placeholder="Enter your email address">
                    <span class="input-group-btn">
                        <button class="btn btn-theme" type="submit">Subscribe</button>
                    </span>
                </div>
            </div>
        </div>
    </section>
    <section class="third-item pt-4 pb-5">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <h3>OUR PRODUCTS</h3>
                </div>
               
            </div>
            <hr>
            <div class="row">
                <div class="col-md-4 text-center">
                   <img class="animate__animated animate__backInLeft" src="assets/Medicine.jpg"style="width:250px;" alt="">
                   <h5>All Types Of Medicines</h5>
                </div>
                <div class="col-md-4 text-center">
                   <img class="animate__animated animate__backInDown" src="assets/booster.jpg" style="width: 220px;" alt="">
                    <h5>All Types Of Immunity Booster</h5>
                </div>
                
                    <div class="col-md-4 text-center">
                       <img class="animate__animated animate__backInRight" src="assets/Hand.jpg"style="width:140px;" alt="">
                       <h5>Hand Sanitizer</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 text-center">
                       <img class="animate__animated animate__backInLeft" src="assets/kit.jpg"style="width:200px;"alt="">
                       <h5>Medical Kit</h5>
                    </div>
                    <div class="col-md-4 text-center">
                       <img class="animate__animated animate__backInUp" src="assets/diagonostic.jpg"style="width:250px;" alt="">
                        <h5>Diagonostic Kit</h5>
                </div>
                    
                        <div class="col-md-4 text-center">
                           <img class="animate__animated animate__backInRight" src="assets/mps.jpg" style="width:350px;"alt="">
                           <h5>Mask/PPE-Kit/Gloves/others</h5>
                        </div>
                    </div>
     
     
        </div>
    </section>

    <div class="footer" style="background-color: rgb(248, 186, 157);">
        <div class="container">
    
            <h5 style="text-align: center; color: black;">Copyright © Lifestyle Store. All Rights Reserved | Contact Us:
                +919000000000
            </h5>
    
        </div>
    </div>
    


</body>





<style type="text/css">
.top-hero-section{
    background-color:#3498db;

}
.top-hero-section{
    color:white;
    font-weight: 600;

}
.top-hero-section a{
    color: white;
    font-weight: 600;

}
.home-newsletter{
   background-color:crimson;
   color: white;
}
.home-newsletter .form-control{
    height:50px;
    border-radius: 20px 0 0 20px;
    border-color: transparent;
    
}
.home-newsletter .btn{
    min-height: 50px;
    border-radius: 0 20px 20px 0;
    background: blueviolet;
    color: white;
}
.second-item{
    background-color: #004d80;
    color: white;
    font-weight: 600;
}
.third-item{
    background-color:#3498db;
    color: white;
    font-weight: 600;
}
</style>
