<body>
    <header></header>
        <section class="breadcrumps-section">
            <div class="container p-1 p-sm-3">
                <div class="row">
                    <div class="col-12 text-left" >
                        <h2>About Us</h2>
                    </div>
                </div>
            </div>
        </section>

        <section class="about-company">
            <div class="container p-1 p-sm-3">
                <div class="row">
                    <div class="col-12 text-center">
                        <h2>WELCOME TO MEDINEED</h2>
                        <hr/>
                    </div>
                <div class="row align-items-center">
                     <div class="col-12">
                     <div class="card">
                         <div class="row">
                             <div class="col-md-3">
                                <img src="assets/Medicine3.jpg"class="img-fluid">
                             </div>
                             <div class="col-md-9">
                                <h2 class="card-title mt-2">Vision And Mission</h2>
                                <p>Creating a healthier world through a new emphasis on plant-based nutrition and scientific research conducted ethically, without using animals.
                                The Physicians Committee is dedicated to saving and improving human and animal lives through plant-based diets and ethical and effective scientific research.</p>
                             </div>
                         </div>
                     </div>
                     <div class="card1">
                        <div class="row">
                            <div class="col-md-3">
                               <img src="assets/Medicine3.jpg"class="img-fluid">
                            </div>
                            <div class="col-md-9">
                               <h2 class="card-title mt-2">Our Guarantee</h2>
                               <p>At Medineed Answered we believe in our medicine and all of the services that we offer, we believe that they offer exceptional value and are highly effective. We are so confident in our services that we offer a number of guarantees.</p>
                            </div>
                        </div>
                     </div>
                     <div class="card2">
                        <div class="row">
                            <div class="col-md-3">
                               <img src="assets/Medicine3.jpg"class="img-fluid">
                            </div>
                            <div class="col-md-9">
                               <h2 class="card-title mt-2">Our Company</h2>
                               <p>With many companies now offering medical school courses we felt that it was essential to provide a reliable, reputable service delivered exclusively by doctors. This is also why we provide a wealth of FREE guides and articles on our website which are all carefully and accurately written by doctors to assist everyone whether you can attend one of our courses o</p>
                            </div>
                        </div>
                     </div>
                </div>
                </div>
            </div>
        </div>
     </section>

        <section class="home-newsletter p-2 pt-md-2 pb-md-2">
            <div class="row">
                <div class="col-12 text-center">
                    <h3>
                        Subscribe To Our Newsletter
                    </h3>
                    <div class="input-group p-3">
                        <input type="email" class="form-control" placeholder="Enter your email address">
                        <span class="input-group-btn">
                            <button class="btn btn-theme" type="submit">Subscribe</button>
                        </span>
                    </div>
                </div>
            </div>
        </section>
    <section class="last-item pt-4 pb-5">
      <div class="container">
          <div class="row">
            <div class="col-12 text-center">
              <h2>Our Team Members</h2>
          </div>
          </div>
      </div>
      <hr>
      <div class="row">
          <div class="col-md-4 text-center">
              <img class="img-fluid-qualities-img p-4" src="assets/Medicine3.jpg" style="width: 18rem;">
              <h5>
                  JIS COLLEGE OF ENGINEERING(DEPT-CSE)
              </h5>
              <p>
                  <i>Arpan Chakroborty</i>
              </p>
          </div>

          <div class="col-md-4 text-center">
            <img class="img-fluid-qualities-img p-4" src="assets/Medicine3.jpg" style="width: 18rem;">
            <h5>
                JIS COLLEGE OF ENGINEERING(DEPT-CSE)
            </h5>
            <p>
                <i>Subimal Nandi</i>
            </p>
        </div>
        <div class="col-md-4 text-center">
            <img class="img-fluid-qualities-img p-4" src="assets/Medicine3.jpg" style="width: 18rem;">
            <h5>
                JIS COLLEGE OF ENGINEERING(DEPT-CSE)
            </h5>
            <p>
                <i>Sarmistha Malakar</i>
            </p>
        </div>
        <div class="col-md-4 text-center">
            <img class="img-fluid-qualities-img p-4" src="assets/Medicine3.jpg" style="width: 18rem;">
            <h5>
                JIS COLLEGE OF ENGINEERING(DEPT-CSE)
            </h5>
            <p>
                <i>Priti Saha</i>
            </p>
        </div>
        <div class="col-md-4 text-center">
            <img class="img-fluid-qualities-img p-4" src="assets/Medicine3.jpg" style="width: 18rem;">
            <h5>
                Others
            </h5>
            <p>
                <i>ABCD</i>
            </p>
        </div>
        <div class="col-md-4 text-center">
            <img class="img-fluid-qualities-img p-4" src="assets/Medicine3.jpg" style="width: 18rem;">
            <h5>
                Others
            </h5>
            <p>
                <i>ABCD</i>
            </p>
        </div>


      </div>
    </section>
</body>
