<div class="card-deck">
  <div class="card">
    <div class="box shadow py-4 px-4">
      <img class="card-img" src="assets/Antibiotic/Celphalexin.jpg" class="img-fluid shadow" height="250px" alt="">
      <div class="card-body">
        <h5 class="card-title">Celphalexin</h5>
        <p class="card-text"><small class="text-muted">Last updated 3 min ago</small></p>
        <a href="Javascript:void(0)" routerLink ="/payment" class="btn btn-primary">BUY</a>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="box shadow py-4 px-4">
      <img class="card-img" src="assets/Antibiotic/Ciprofloxacin.jpg" class="img-fluid shadow" height="250px" alt="">
      <div class="card-body">
        <h5 class="card-title">Ciprofloxacin</h5>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        <a href="Javascript:void(0)" routerLink ="/payment" class="btn btn-primary">BUY</a>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="box shadow py-4 px-4">
      <img class="card-img-top" src="assets/Antibiotic/Clindamycin.jpg" class="float-left" alt="">
      <div class="card-body">
        <h5 class="card-title">Clindamycin</h5>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago </small></p>
        <a href="Javascript:void(0)" routerLink ="/payment" class="btn btn-primary">BUY</a>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="box shadow py-4 px-4">
      <img class="card-img-top" src="assets/Antibiotic/Doxycyline.jpg" class="float-right" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Doxycyline</h5>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        <a href="Javascript:void(0)" routerLink ="/payment" class="btn btn-primary">BUY</a>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="box shadow py-4 px-4">
      <img class="card-img-top" src="assets/Antibiotic/Metronidazole.jpg" class="img-fluid shadow" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Metronidazole</h5>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        <a href="Javascript:void(0)" routerLink ="/payment" class="btn btn-primary">BUY</a>
      </div>
    </div>
  </div>
</div>
<div class="card-deck">
  <div class="card">
    <div class="box shadow py-4 px-4">
      <img class="card-img-top" src="assets/Cardiovascular system/Candesartan.jpg" class="img-fluid shadow"
        alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Candesartan</h5>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        <a href="Javascript:void(0)" routerLink ="/payment" class="btn btn-primary">BUY</a>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="box shadow py-4 px-4">
      <img class="card-img-top" src="assets/Cardiovascular system/Cozaar.jpg" class="img-fluid shadow"
        alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Cozaar</h5>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        <a href="Javascript:void(0)" routerLink ="/payment" class="btn btn-primary">BUY</a>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="box shadow py-4 px-4">
      <img class="card-img-top" src="assets/Cardiovascular system/edarbi.jpg" class="img-fluid shadow"
        alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">edarbi</h5>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        <a href="Javascript:void(0)" routerLink ="/payment" class="btn btn-primary">BUY</a>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="box shadow py-4 px-4">
      <img class="card-img-top" src="assets/Cardiovascular system/lrbesartan.jpg" class="img-fluid shadow"
        alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">lrbesartan</h5>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        <a href="Javascript:void(0)" routerLink ="/payment" class="btn btn-primary">BUY</a>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="box shadow py-4 px-4">
      <img class="card-img-top" src="assets/Cardiovascular system/Teveten.jpg" class="img-fluid shadow"
        alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Teveten</h5>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        <a href="Javascript:void(0)" routerLink ="/payment" class="btn btn-primary">BUY</a>
      </div>
    </div>
  </div>
</div>
<div class="card-deck">
  <div class="card">
    <div class="box shadow py-4 px-4">
      <img class="card-img-top" src="assets/Diagonostic/Apisol.jpg" class="img-fluid shadow" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Apisol</h5>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        <a href="Javascript:void(0)" routerLink ="/payment" class="btn btn-primary">BUY</a>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="box shadow py-4 px-4">
      <img class="card-img-top" src="assets/Diagonostic/Lexiscan.jpg" class="img-fluid shadow" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Lexiscan</h5>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        <a href="Javascript:void(0)" routerLink ="/payment" class="btn btn-primary">BUY</a>
      </div>
    </div>
  </div>
  <div class="card" style="width: 150px">
    <div class="box shadow py-4 px-4">
      <img class="card-img-top" src="assets/Diagonostic/Manitol.jpg" class="img-fluid shadow" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Manitol</h5>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        <a href="Javascript:void(0)" routerLink ="/payment" class="btn btn-primary">BUY</a>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="box shadow py-4 px-4">
      <img class="card-img-top" src="assets/Diagonostic/Thyrogen.jpg" class="img-fluid shadow" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Thyrogen</h5>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        <a href="Javascript:void(0)" routerLink ="/payment" class="btn btn-primary">BUY</a>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="box shadow py-4 px-4">
      <img class="card-img-top" src="assets/Diagonostic/Tubersol.jpg" class="img-fluid shadow" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Tubersol</h5>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        <a href="Javascript:void(0)" routerLink ="/payment" class="btn btn-primary">BUY</a>
      </div>
    </div>
  </div>

</div>
<div class="card-deck">
  <div class="card">
    <div class="box shadow py-4 px-4">
      <img class="card-img-top" src="assets/booster/Ashwagandha.jpg" class="img-fluid shadow" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Ashwagandha</h5>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        <a href="Javascript:void(0)" routerLink ="/payment" class="btn btn-primary">BUY</a>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="box shadow py-4 px-4">
      <img class="card-img-top" src="assets/booster/lactogen.jpg" class="img-fluid shadow" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Lactogen</h5>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        <a href="Javascript:void(0)" routerLink ="/payment" class="btn btn-primary">BUY</a>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="box shadow py-4 px-4">
      <img class="card-img-top" src="assets/booster/pediasure.jpg" class="img-fluid shadow" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Pediasure</h5>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        <a href="Javascript:void(0)" routerLink ="/payment" class="btn btn-primary">BUY</a>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="box shadow py-4 px-4">
      <img class="card-img-top" src="assets/booster/Revital.jpg" class="img-fluid shadow" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Revital</h5>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        <a href="Javascript:void(0)" routerLink ="/payment" class="btn btn-primary">BUY</a>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="box shadow py-4 px-4">
      <img class="card-img-top" src="assets/booster/Revite.jpg" class="img-fluid shadow" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Revite</h5>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        <a href="Javascript:void(0)" routerLink ="/payment" class="btn btn-primary">BUY</a>
      </div>
    </div>
  </div>
</div>
<div class="card-deck">
  <div class="card">
    <div class="box shadow py-4 px-4">
      <img class="card-img-top" src="assets/skin/Ammoniated.jpg" class="img-fluid shadow" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Ammoniated</h5>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        <a href="Javascript:void(0)" routerLink ="/payment" class="btn btn-primary">BUY</a>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="box shadow py-4 px-4">
      <img class="card-img-top" src="assets/skin/Benzalkonium chloride.jpg" class="img-fluid shadow"
        alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Benzalkonium chloride</h5>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        <a href="Javascript:void(0)" routerLink ="/payment" class="btn btn-primary">BUY</a>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="box shadow py-4 px-4">
      <img class="card-img-top" src="assets/skin/Neomycin.jpg" class="img-fluid shadow" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Neomycin</h5>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        <a href="Javascript:void(0)" routerLink ="/payment" class="btn btn-primary">BUY</a>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="box shadow py-4 px-4">
      <img class="card-img-top" src="assets/skin/polymyxin.jpg" class="img-fluid shadow" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Polymyxin</h5>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        <a href="Javascript:void(0)" routerLink ="/payment" class="btn btn-primary">BUY</a>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="box shadow py-4 px-4">
      <img class="card-img-top" src="assets/skin/s&t.jpg" class="img-fluid shadow" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Sulfamethoxazole/Trimethoprim</h5>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        <a href="Javascript:void(0)" routerLink ="/payment" class="btn btn-primary">BUY</a>
      </div>
    </div>
  </div>
</div>
<div class="card-deck">
  <div class="card">
    <div class="box shadow py-4 px-4">
      <img class="card-img-top" src="assets/CNS/Halcion.jpg" class="img-fluid shadow" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Halcion</h5>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        <a href="Javascript:void(0)" routerLink ="/payment" class="btn btn-primary">BUY</a>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="box shadow py-4 px-4">
      <img class="card-img-top" src="assets/CNS/Luminal.jpg" class="img-fluid shadow" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Luminal</h5>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        <a href="Javascript:void(0)" routerLink ="/payment" class="btn btn-primary">BUY</a>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="box shadow py-4 px-4">
      <img class="card-img-top" src="assets/CNS/Mebaral.jpg" class="img-fluid shadow" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Mebaral</h5>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        <a href="Javascript:void(0)" routerLink ="/payment" class="btn btn-primary">BUY</a>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="box shadow py-4 px-4">
      <img class="card-img-top" src="assets/CNS/Valium.jpg" class="img-fluid shadow" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Valium</h5>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        <a href="Javascript:void(0)" routerLink ="/payment" class="btn btn-primary">BUY</a>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="box shadow py-4 px-4">
      <img class="card-img-top" src="assets/CNS/Zalepton.jpg" class="img-fluid shadow" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Zalepton</h5>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        <a href="Javascript:void(0)" routerLink ="/payment" class="btn btn-primary">BUY</a>
      </div>
    </div>
  </div>
</div>
<div class="card-deck">
  <div class="card">
    <div class="box shadow py-4 px-4">
      <img class="card-img-top" src="assets/Paracetamol/Acamol.jpg" class="img-fluid shadow" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Acamol</h5>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        <a href="Javascript:void(0)" routerLink ="/payment" class="btn btn-primary">BUY</a>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="box shadow py-4 px-4">
      <img class="card-img-top" src="assets/Paracetamol/Acetalgin.jpg" class="img-fluid shadow" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Acetalgin</h5>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        <a href="Javascript:void(0)" routerLink ="/payment" class="btn btn-primary">BUY</a>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="box shadow py-4 px-4">
      <img class="card-img-top" src="assets/Paracetamol/Alvedon.jpg" class="img-fluid shadow" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Alvedon</h5>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        <a href="Javascript:void(0)" routerLink ="/payment" class="btn btn-primary">BUY</a>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="box shadow py-4 px-4">
      <img class="card-img-top" src="assets/Paracetamol/Calpol.jpg" class="img-fluid shadow" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Calpol</h5>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        <a href="Javascript:void(0)" routerLink ="/payment" class="btn btn-primary">BUY</a>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="box shadow py-4 px-4">
      <img class="card-img-top" src="assets/Paracetamol/Doliprane.jpg" class="img-fluid shadow" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Doliprane</h5>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        <a href="Javascript:void(0)" routerLink ="/payment" class="btn btn-primary">BUY</a>
      </div>
    </div>
  </div>
</div>
<div class="card-deck">

  <div class="card">
    <div class="box shadow py-4 px-4">
      <img class="card-img-top" src="assets/pain/Aleve.jpg" class="img-fluid shadow" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        <a href="Javascript:void(0)" routerLink ="/payment" class="btn btn-primary">BUY</a>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="box shadow py-4 px-4">
      <img class="card-img-top" src="assets/pain/Ansaid.jpg" class="img-fluid shadow" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Ansaid</h5>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        <a href="Javascript:void(0)" routerLink ="/payment" class="btn btn-primary">BUY</a>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="box shadow py-4 px-4">
      <img class="card-img-top" src="assets/pain/Feneprofen.jpg" class="img-fluid shadow" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Feneprofen</h5>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        <a href="Javascript:void(0)" routerLink ="/payment" class="btn btn-primary">BUY</a>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="box shadow py-4 px-4">
      <img class="card-img-top" src="assets/pain/Motrin.jpg" class="img-fluid shadow" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Motrin</h5>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        <a href="Javascript:void(0)" routerLink ="/payment" class="btn btn-primary">BUY</a>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="box shadow py-4 px-4">
      <img class="card-img-top" src="assets/pain/Tylenol.jpg" class="img-fluid shadow" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Tylenol</h5>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        <a href="Javascript:void(0)" routerLink ="/payment" class="btn btn-primary">BUY</a>
      </div>
    </div>
  </div>
</div>
<div class="card-deck">

  <div class="card">
    <div class="box shadow py-4 px-4">
      <img class="card-img-top" src="assets/Eye/Acular.jpg" class="img-fluid shadow" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Acular</h5>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        <a href="Javascript:void(0)" routerLink ="/payment" class="btn btn-primary">BUY</a>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="box shadow py-4 px-4">
      <img class="card-img-top" src="assets/Eye/Avastin.jpg" class="img-fluid shadow" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Avastin</h5>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        <a href="Javascript:void(0)" routerLink ="/payment" class="btn btn-primary">BUY</a>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="box shadow py-4 px-4">
      <img class="card-img-top" src="assets/Eye/Gentamicin.jpg" class="img-fluid shadow" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Gentamicin</h5>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        <a href="Javascript:void(0)" routerLink ="/payment" class="btn btn-primary">BUY</a>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="box shadow py-4 px-4">
      <img class="card-img-top" src="assets/Eye/Levobunolol.jpg" class="img-fluid shadow" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Levobunolol</h5>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        <a href="Javascript:void(0)" routerLink ="/payment" class="btn btn-primary">BUY</a>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="box shadow py-4 px-4">
      <img class="card-img-top" src="assets/Eye/Lucentis.jpg" class="img-fluid shadow" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Lucentis</h5>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        <a href="Javascript:void(0)" routerLink ="/payment" class="btn btn-primary">BUY</a>
      </div>
    </div>
  </div>
</div>
<div class="card-deck">
  <div class="card">
    <div class="box shadow py-4 px-4">
      <img class="card-img-top" src="assets/Ear&Nose/Betamethasone.jpg" class="img-fluid shadow" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Betamethasone</h5>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        <a href="Javascript:void(0)" routerLink ="/payment" class="btn btn-primary">BUY</a>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="box shadow py-4 px-4">
      <img class="card-img-top" src="assets/Ear&Nose/Betronase.jpg" class="img-fluid shadow" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Betronase</h5>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        <a href="Javascript:void(0)" routerLink ="/payment" class="btn btn-primary">BUY</a>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="box shadow py-4 px-4">
      <img class="card-img-top" src="assets/Ear&Nose/Canesten.jpg" class="img-fluid shadow" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Canesten</h5>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        <a href="Javascript:void(0)" routerLink ="/payment" class="btn btn-primary">BUY</a>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="box shadow py-4 px-4">
      <img class="card-img-top" src="assets/Ear&Nose/Nasalcrom.jpg" class="img-fluid shadow" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Nasalcrom</h5>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        <a href="Javascript:void(0)" routerLink ="/payment" class="btn btn-primary">BUY</a>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="box shadow py-4 px-4">
      <img class="card-img-top" src="assets/Ear&Nose/Otrivin.jpg" class="img-fluid shadow" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Otrivin</h5>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        <a href="Javascript:void(0)" routerLink ="/payment" class="btn btn-primary">BUY</a>
      </div>
    </div>
  </div>
</div>

<div class="footer" style="background-color: rgb(248, 186, 157);">
  <div class="container">

      <h5 style="text-align: center; color: black;">Copyright © Medical Store. All Rights Reserved | Contact Us:
          +919000000000
      </h5>

  </div>
</div>
