<div class="jumbotron">
  <h1 style="text-align: center;">Welcome to our Medical Store! </h1>

  <h3 style="text-align: center;">We have the best medicines & medical products for you.No need to hunt around.We have
    all in one place. </h3>
</div>


<div class="card-deck">

  <div class="card" style="width:100%">
    <div class="box shadow py-4 px-4">
      <img class="card-img" src="assets/Diagonostic/Apisol.jpg" class="float-left" class="img-fluid shadow" alt="Card image"
        style="width:40%">
      <div class="card-body">
        <h4 class="card-title">Product</h4>
        <p class="card-text">Best medicines stores available in the world</p>
        <a href="Javascript:void(0)" routerLink="/product" class="btn btn-primary">Click Here</a>
      </div>
    </div>
  </div>
  <div class="card" style="width:100%">
    <div class="box shadow py-4 px-4">
      <img class="card-img" src="assets/Kitsetup/Oxymeter.jpg" class="float-left" class="img-fluid shadow" alt="Card image"
        style="width:40%">
      <div class="card-body">
        <h4 class="card-title">Necesary Item</h4>
        <p class="card-text">Choose among the best medical products . </p>
        <a href="Javascript:void(0)" routerLink="/necessaryitem" class="btn btn-primary">Click Here</a>
      </div>
    </div>
  </div>
</div>

<div class="footer" style="background-color: rgb(248, 186, 157);">
  <div class="container">

      <h5 style="text-align: center; color: black;">Copyright © Medical Store. All Rights Reserved | Contact Us:
          +919000000000
      </h5>

  </div>
</div>


